// 方形微圓角按鈕
.btn {
  padding: 6px 20px;
  background: #fff;
  border: 1px solid $gray-4;
  border-radius: 5px;
  line-height: 24px;
  text-align: center;
  user-select: none;
  &:disabled {
    background-color: $gray-4;
    border-color: $gray-4;
  }
  &--red {
    @extend .btn;
    border-color: $red;
    background: $red;
    color: #fff;
  }
}

.tag {
  display: inline-block;
  padding: 3px 8px;
  background-color: $gray-6;
  border-radius: 50px;
  font-weight: $weight-light;
  font-size: 10px;
  line-height: 15px;
  &--large {
    display: inline-block;
    background-color: $gray-6;
    border-radius: 50px;
    line-height: 1.5;
    padding: 4px 8px;
  }
}

.btn-pill {
  @include grid(column, 0, 5px);
  align-items: center;
  padding: 5px 10px;
  border: 1px solid $gray-2;
  border-radius: 50px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.tab-link {
  display: block;
  padding: 8px 24px;
  max-width: 200px;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  overflow: hidden;
  color: $gray-4;
  letter-spacing: 0.05em;
  font-weight: $weight-medium;
  transition: all 0.3s;
  flex-shrink: 0;
  cursor: pointer;
  white-space: nowrap;
  &.router-link-active,
  &.is-active {
    color: $gray-1;
    box-shadow: 0px -3px 0px $red inset;
  }
  &:hover {
    color: $gray-1;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  align-content: center; // for safari
  background-color: rgba(0, 0, 0, 0.25);
}

// 用來產生滾動陰影的容器，子元素高度與此容器相同
.shadow-container {
  height: 100%;
  position: relative;
  overflow-y: auto;
  & > * {
    height: 100%;
    overflow-y: auto;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 100%;
    // transition: opacity 0.3s ease-out;
    opacity: 0;
  }
  &::before {
    top: 0;
    background: linear-gradient(rgba($gray-2, 0.1), transparent);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(to top, rgba($gray-2, 0.1), transparent);
  }
  &.off-top::before,
  &.off-bottom::after {
    opacity: 1;
  }
}

// ===== 表單類 =====
.form-label {
  @include grid(column, 0, 10px);
  justify-content: flex-start;
  align-items: center;
  color: $blue-dark;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
  &__info {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

select.form-control {
  color: #757575;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 12px;
  line-height: 1.5;
  border: 1px solid $gray-5;
  border-radius: 8px;
  line-break: anywhere;
}
