@import './variables';

@mixin grid($orientation: column, $row-gap: 0, $col-gap: 0) {
  display: grid;
  grid-auto-flow: $orientation;
  gap: $row-gap $col-gap;
}

@mixin font-format($type: 'b1', $mb: -1, $color: null, $bold: false, $line-height: null) {
  font-family: 'Noto Sans TC', sans-serif;

  @if($mb != -1) {
    margin-bottom: $mb;
  }

  @if($color != null) {
    color: $color;
  }

  @if($line-height != null) {
    line-height: $line-height !important;
  }

  @if($bold == true) {
    font-weight: 700 !important;
  } @else {
    font-weight: 400 !important;
  }

  // Desktop
  @media screen and (min-width: $desktop_min_width) {
    @if ($type == 'h1') {
      font-weight: 500;
      font-size: 100px;
      line-height: 115px;

    } @else if ($type == 'h2') {
      font-weight: 500;
      font-size: 70px;
      line-height: 95px;

    } @else if ($type == 'b1') {
      font-size: 50px;
      line-height: 55px;

    } @else if ($type == 'b2') {
      font-size: 30px;
      line-height: 35px;

    } @else if ($type == 'b3') {
      font-size: 25px;
      line-height: 30px;

    } @else if ($type == 'b4') {
      font-size: 21px;
      line-height: 26px;

    } @else if ($type == 'b5') {
      font-size: 16px;
      line-height: 21px;

    } @else if ($type == 'b6') {
      font-size: 13px;
      line-height: 18px;
    }
  }

  // Laptop
  @media screen and (max-width: $laptop_max_width) {
    @if ($type == 'h1') {
      font-size: 80px;
      line-height: 100px;

    } @else if ($type == 'h2') {
      font-size: 74px;
      line-height: 80px;

    } @else if ($type == 'b1') {
      font-size: 45px;
      line-height: 50px;

    } @else if ($type == 'b2') {
      font-size: 32px;
      line-height: 47px;

    } @else if ($type == 'b3') {
      font-size: 25px;
      line-height: 30px;

    } @else if ($type == 'b4') {
      font-size: 20px;
      line-height: 25px;

    } @else if ($type == 'b5') {
      font-size: 16px;
      line-height: 21px;

    } @else if ($type == 'b6') {
      font-size: 12px;
      line-height: 27px;
    }
  }

  // Tablet
  @media screen and (max-width: $tablet_max_width){
    @if ($type == 'h1') {
      font-size: 54px;
      line-height: 80px;

    } @else if ($type == 'h2') {
      font-size: 40px;
      line-height: 80px;

    } @else if ($type == 'b1') {
      font-size: 30px;
      line-height: 40px;

    } @else if ($type == 'b2') {
      font-size: 22px;
      line-height: 37px;

    } @else if ($type == 'b3') {
      font-size: 18px;
      line-height: 23px;

    } @else if ($type == 'b4') {
      font-size: 14px;
      line-height: 19px;

    } @else if ($type == 'b5') {
      font-size: 10px;
      line-height: 15px;

    } @else if ($type == 'b6') {
      font-size: 8px;
      line-height: 13px;
    }
  }

  // Mobile
  @media screen and (max-width: $mobile_max_width) {
    @if ($type == 'h1') {
      font-size: 30px;
      line-height: 48px;

    } @else if ($type == 'h2') {
      font-size: 24px;
      line-height: 27px;

    } @else if ($type == 'b1') {
      font-size: 20px;
      line-height: 23px;

    } @else if ($type == 'b2') {
      font-size: 15px;
      line-height: 18px;

    } @else if ($type == 'b3') {
      font-size: 12px;
      line-height: 15px;

    } @else if ($type == 'b4') {
      font-size: 8px;
      line-height: 11px;

    } @else if ($type == 'b5') {
      font-size: 5px;
      line-height: 8px;

    } @else if ($type == 'b6') {
      font-size: 3px;
      line-height: 6px;
    }
  }
}

@mixin icon-size($size: 20px, $ml: 0, $mr: 8px) {
  width: $size;
  height: $size;
  margin-left: $ml;
  margin-right: $mr;
  display: flex;
  align-items: center;
}
