@mixin tab-link {
  display: block;
  padding: 8px 24px;
  text-decoration: none;
  color: $gray-4;
  letter-spacing: 0.05em;
  font-weight: $weight-medium;
  &.router-link-active {
    color: $gray-1;
    box-shadow: 0px 3px 0px #F15A60;
  }
  &:hover {
    color: $gray-1;
  }
}

@mixin grid($orientation: column, $row-gap: 0, $col-gap: 0) {
  display: grid;
  grid-auto-flow: $orientation;
  gap: $row-gap $col-gap;
}