@import './variables';

:root {
  --primary-50:#fbebed;
  --primary-100:#e99aa6;
  --primary-200:#db5a6e;
  --primary-300:#d43951;
  --primary-400:#cd2c45;
  --primary-500:#9D2235;
  --primary-600:#7d1b2a;
  --primary-700:#6d1825;
  --primary-800:#5d141f;
  --primary-900:#2c0a0f;
}

.p-link:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled):hover {
  border-color: $grey-4;
}
.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
  border-color: $grey-4;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: $grey-4;
}
.p-datepicker table td > span:focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-datepicker table td.p-datepicker-today > span {
  background: #ced4da;
  color: $grey-4;
  border-color: transparent;
}
.p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: $grey-4;
  background: #E3F2FD;
}
.p-datepicker .p-datepicker-buttonbar {
  border-top: 1px solid #dee2e6;
}
.p-datepicker .p-timepicker {
  border-top: 1px solid #dee2e6;
  padding: 0.5rem;
}
.p-datepicker .p-timepicker button {
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datepicker .p-timepicker button:enabled:hover {
  color: $grey-4;
  border-color: transparent;
  background: #e9ecef;
}
.p-datepicker .p-timepicker button:focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-left: 1px solid #dee2e6;
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}

.p-cascadeselect:not(.p-disabled):hover {
  border-color: $grey-4;
}
.p-cascadeselect:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
  border-color: $grey-4;
}
.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item .p-cascadeselect-item-content:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $red-5;
  background: $red-5;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: $red-6;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
  border-color: $red-6;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $red-6;
  background: $red-6;
  color: #ffffff;
}

.p-chips .p-chips-multiple-container {
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
}
.p-chips .p-chips-multiple-container:not(.p-disabled):hover {
  border-color: $grey-4;
}
.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
  border-color: $grey-4;
}
.p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
  box-shadow: 0 0 0 0.2rem $grey-1;
  border-color: $grey-4;
}
.p-treeselect-token, .p-multiselect-token, .p-inputtext .p-chips-token {
  margin-right: 0.7rem !important;
  padding: 0.3rem 0.8rem !important;
  background: $grey-1 !important;
  color: $grey-6 !important;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: $grey-4;
}
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
  border-color: $grey-4;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  color: $red-5;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
  stroke: $red-5;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-fill,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill {
  fill: $red-5;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-picker-label,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-picker-label,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-picker-label {
  color: $red-5;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: $red-5;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: $grey-4;
}

.p-inputtext{
  line-height: 1.5;
  padding: 10px 12px;
  border-radius: 8px;
}

.p-inputtext:enabled:hover {
  border-color: $grey-4;
}
.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem #F2F2F2;
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
  box-shadow: inset 0 0 0 0.15rem $grey-2;
}

.p-multiselect, .p-treeselect {
  min-height: 46px;
  padding: 5px;
  border-radius: 8px;
}
.p-multiselect:not(.p-disabled):hover {
  border-color: $grey-4;
}
.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem $grey-1;
  border-color: $grey-4;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: $red-5;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
  border-color: $red-5;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: $red-5;
  background: $red-5;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: #6d1825;
  background: #6d1825;
  color: #ffffff;
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
  background: $red-5;
}
.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  background: #6d1825;
}

.p-rating .p-rating-icon:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-rating .p-rating-icon.pi-star-fill {
  color: $red-5;
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: $red-5;
}
.p-selectbutton .p-button.p-highlight {
  background: $red-5;
  border-color: $red-5;
  color: #ffffff;
}
.p-selectbutton .p-button.p-highlight:hover {
  background: #7d1b2a;
  border-color: #7d1b2a;
  color: #ffffff;
}

.p-slider .p-slider-handle {
  background: #ffffff;
  border: 2px solid $red-5;
}
.p-slider .p-slider-handle:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-slider .p-slider-range {
  background: $red-5;
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: $red-5;
  border-color: $red-5;
}

.p-treeselect:not(.p-disabled):hover {
  border-color: $grey-4;
}
.p-treeselect:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
  border-color: $grey-4;
}

.p-togglebutton.p-button.p-highlight {
  background: $red-5;
  border-color: $red-5;
  color: #ffffff;
}
.p-togglebutton.p-button.p-highlight:hover {
  background: #7d1b2a;
  border-color: #7d1b2a;
  color: #ffffff;
}

.p-button {
  color: #ffffff;
  background: $red-5;
  border: 1px solid $red-5;
}
.p-button:enabled:hover {
  background: #7d1b2a;
  color: #ffffff;
  border-color: #7d1b2a;
}
.p-button:enabled:active {
  background: #6d1825;
  color: #ffffff;
  border-color: #6d1825;
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: $red-5;
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  color: $red-5;
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  color: $red-5;
  border: 1px solid;
}
.p-button.p-button-text {
  background-color: transparent;
  color: $red-5;
  border-color: transparent;
}
.p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  color: $red-5;
  border-color: transparent;
}
.p-button.p-button-text:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  color: $red-5;
  border-color: transparent;
}
.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-button .p-badge {
  color: $red-5;
  background-color: #ffffff;
}

.p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
  color: #ffffff;
  background: #4F4F4F;
  border: 1px solid #4F4F4F;
}
.p-button.p-button-secondary:enabled:hover, .p-buttonset.p-button-secondary > .p-button:enabled:hover, .p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #828282;
  color: #ffffff;
  border-color: #828282;
}
.p-button.p-button-secondary:enabled:active, .p-buttonset.p-button-secondary > .p-button:enabled:active, .p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: #828282;
  color: #ffffff;
  border-color: #828282;
}
.p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: #FFFFFF;
  color: #4F4F4F;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: #F2F2F2;
  color: #4F4F4F;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: #F2F2F2;
  color: #4F4F4F;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-text, .p-buttonset.p-button-secondary > .p-button.p-button-text, .p-splitbutton.p-button-secondary > .p-button.p-button-text {
  color: #4F4F4F;
}
.p-button.p-button-secondary.p-button-text:enabled:hover, .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(96, 125, 139, 0.04);
  border-color: transparent;
  color: #4F4F4F;
}
.p-button.p-button-secondary.p-button-text:enabled:active, .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(96, 125, 139, 0.16);
  border-color: transparent;
  color: #4F4F4F;
}

.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button {
  color: #ffffff;
  background: $blue-6;
  border: 1px solid $blue-6;
}
.p-button.p-button-info:enabled:hover, .p-buttonset.p-button-info > .p-button:enabled:hover, .p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: $blue-7;
  color: #ffffff;
  border-color: $blue-7;
}
.p-button.p-button-info:enabled:active, .p-buttonset.p-button-info > .p-button:enabled:active, .p-splitbutton.p-button-info > .p-button:enabled:active {
  background: $blue-7;
  color: #ffffff;
  border-color: $blue-7;
}
.p-button.p-button-info.p-button-outlined, .p-buttonset.p-button-info > .p-button.p-button-outlined, .p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: $white;
  color: $blue-7;
  border: 1px solid $blue-7;
}
.p-button.p-button-info.p-button-outlined:enabled:hover, .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: $blue-1;
  color: $blue-8;
  border: 1px solid $blue-7;
}
.p-button.p-button-info.p-button-outlined:enabled:active, .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: $blue-1;
  color: $blue-8;
  border: 1px solid $blue-7;
}
.p-button.p-button-info.p-button-text, .p-buttonset.p-button-info > .p-button.p-button-text, .p-splitbutton.p-button-info > .p-button.p-button-text {
  color: $white;
}
.p-button.p-button-info.p-button-text:enabled:hover, .p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: $blue-1;
  border-color: transparent;
  color: $blue-7;
}
.p-button.p-button-info.p-button-text:enabled:active, .p-buttonset.p-button-info > .p-button.p-button-text:enabled:active, .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: $blue-1;
  border-color: transparent;
  color: $blue-7;
}

.p-button.p-button-link {
  color: #6d1825;
  background: transparent;
  border: transparent;
}
.p-button.p-button-link:enabled:hover {
  background: transparent;
  color: #6d1825;
  border-color: transparent;
}
.p-button.p-button-link:enabled:focus {
  background: transparent;
  box-shadow: 0 0 0 0.2rem #fbebed;
  border-color: transparent;
}
.p-button.p-button-link:enabled:active {
  background: transparent;
  color: #6d1825;
  border-color: transparent;
}

.p-button.p-splitbutton-defaultbutton:hover {
  cursor: default;
  background-color: $red-5;
}

.p-splitbutton.p-button-outlined > .p-button {
  background-color: transparent;
  color: $red-5;
  border: 1px solid;
}
.p-splitbutton.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(33, 150, 243, 0.04);
  color: $red-5;
}
.p-splitbutton.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(33, 150, 243, 0.16);
  color: $red-5;
}
.p-splitbutton.p-button-text > .p-button {
  background-color: transparent;
  color: $red-5;
  border-color: transparent;
}
.p-splitbutton.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(33, 150, 243, 0.04);
  color: $red-5;
  border-color: transparent;
}
.p-splitbutton.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(33, 150, 243, 0.16);
  color: $red-5;
  border-color: transparent;
}
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button {
  background-color: transparent;
  color: #4F4F4F;
  border: 1px solid;
}
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:hover, .p-splitbutton.p-button-secondary.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(96, 125, 139, 0.04);
  color: #4F4F4F;
}
.p-splitbutton.p-button-secondary.p-button-outlined > .p-button:enabled:active, .p-splitbutton.p-button-secondary.p-button-outlined > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(96, 125, 139, 0.16);
  color: #4F4F4F;
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button {
  background-color: transparent;
  color: #4F4F4F;
  border-color: transparent;
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:hover, .p-splitbutton.p-button-secondary.p-button-text > .p-button:not(button):not(a):not(.p-disabled):hover {
  background: rgba(96, 125, 139, 0.04);
  border-color: transparent;
  color: #4F4F4F;
}
.p-splitbutton.p-button-secondary.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-secondary.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active {
  background: rgba(96, 125, 139, 0.16);
  border-color: transparent;
  color: #4F4F4F;
}

.p-carousel .p-carousel-content .p-carousel-prev:focus,
.p-carousel .p-carousel-content .p-carousel-next:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-datatable .p-sortable-column.p-highlight {
  background: #f8f9fa;
  color: $red-5;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: $red-5;
}
.p-datatable .p-sortable-column.p-highlight:hover {
  background: #e9ecef;
  color: $red-5;
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: $red-5;
}
.p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
  outline: 0 none;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-datatable .p-datatable-tbody > tr:focus {
  outline: 0.15rem solid #fbebed;
  outline-offset: -0.15rem;
}
.p-datatable .p-column-resizer-helper {
  background: $red-5;
}

.p-column-filter-menu-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-column-filter-clear-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-orderlist .p-orderlist-list .p-orderlist-item:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-organizationchart .p-organizationchart-node-content .p-node-toggler:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-picklist .p-picklist-list .p-picklist-item:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-timeline .p-timeline-event-marker {
  border: 2px solid $red-5;
  background-color: #ffffff;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-label {
  margin-left: -32px;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
  box-shadow: inset 0 0 0 0.15rem $grey-2;
}

.p-treetable .p-sortable-column {
  outline-color: #fbebed;
}
.p-treetable .p-sortable-column.p-highlight {
  background: #f8f9fa;
  color: $red-5;
}
.p-treetable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: $red-5;
}
.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-treetable .p-treetable-tbody > tr:focus {
  outline: 0.15rem solid #fbebed;
}
.p-treetable .p-column-resizer-helper {
  background: $red-5;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-panel .p-panel-header .p-panel-header-icon:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: inset 0 0 0 0.2rem #fbebed;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: $red-5;
  color: $red-5;
}
.p-tabview .p-tabview-nav-btn.p-link {
  background: #ffffff;
  color: $red-5;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-tabview .p-tabview-nav-btn.p-link:focus {
  box-shadow: inset 0 0 0 0.2rem #fbebed;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  box-shadow: 0 0 0 0.2rem $grey-2;
}
.p-dialog.p-confirm-dialog {
  .p-dialog-header {
    padding: 1.5rem 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .p-dialog-content {
    padding: 0 2.5rem 2rem 2.5rem
  }
  .p-dialog-footer {
    padding: 0 2rem 1.5rem 2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .p-confirm-dialog-reject.p-button-text {
      color: $grey-5;
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}

.p-overlaypanel .p-overlaypanel-close {
  background: $red-5;
  color: #ffffff;
}
.p-overlaypanel .p-overlaypanel-close:enabled:hover {
  background: #7d1b2a;
  color: #ffffff;
}

.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-fileupload .p-fileupload-buttonbar .p-button.p-fileupload-choose.p-focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-fileupload-choose:not(.p-disabled):hover {
  background: #7d1b2a;
  color: #ffffff;
  border-color: #7d1b2a;
}
.p-fileupload-choose:not(.p-disabled):active {
  background: #6d1825;
  color: #ffffff;
  border-color: #6d1825;
}

.p-breadcrumb ul li .p-menuitem-link:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-contextmenu .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}
.p-megamenu .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-menu .p-menuitem-link .p-menuitem-text {
  color: $grey-5;
  margin-left: .25rem;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: $grey-1;
}
.p-menu .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}
.p-menubar .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button:focus {
    box-shadow: 0 0 0 0.2rem #fbebed;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.15rem #fbebed;
  }
}
.p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: inset 0 0 0 0.2rem #fbebed;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
  background: #ffffff;
  border-color: #6c757d;
  color: #6c757d;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #ffffff;
  border-color: $red-5;
  color: $red-5;
}

.p-tieredmenu .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.15rem #fbebed;
}

.p-message .p-message-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-toast {
  z-index: 1000;
}
.p-toast .p-toast-message {
  background: $white !important;
  border-width: 1px 1px 1px 6px !important;
  color: $grey-5 !important;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  font-size: 13px;
}
.p-toast .p-toast-message.p-toast-message-info {
  border-width: 0 0 0 6px !important;
  border: solid $red-4;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message .p-toast-icon-close {
  color: $grey-5 !important;
}

.p-toast .p-toast-message.p-toast-message-error {
  border: solid $red-4;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-content .p-toast-summary,
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon {
  color: $red-4;
}

.p-toast .p-toast-message.p-toast-message-success {
  border: solid $success-green;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-content .p-toast-summary,
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon {
  color: $success-green;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-item-content:focus {
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-badge {
  background: $red-5;
  color: #ffffff;
}
.p-badge.p-badge-secondary {
  background-color: #4F4F4F;
  color: #ffffff;
}

.p-chip {
  background-color: $red-1;
  color: $red-8;
  border-radius: 50px;
  padding: 0 0.5rem;
}
.p-chip .p-chip-text {
  font-weight: $weight-light;
  font-size: 10px;
  line-height: 15px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.p-chip .p-chip-remove-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-inplace .p-inplace-display:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #fbebed;
}

.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: $red-5;
}

.p-tag {
  background: $red-5;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  border-radius: 3px;
}

/* Customizations to the designer theme should be defined here */
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $red-5;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background-color: $red-5;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 $red-5;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 $red-5;
}
