// ===== 顏色 =====
$white: #FFF;
$grey-blue: #F7FBFB;
$grey-0: #F8F8F8;
$grey-1: #F2F2F2;
$grey-2: #E0E0E0;
$grey-3: #BDBDBD;
$grey-4: #828282;
$grey-5: #4F4F4F;
$grey-6: #333333;

$red-1: #FAF5F5;
$red-2: #E99AA6;
$red-3: #DB5A6E;
$red-4: #F15A60;
$red-5: #9D2235;
$red-6: #7D1B2A;
$red-7: #5D141F;
$red-8: #2C0A0F;

$blue-1:#eaf6fb;
$blue-2:#a7daf0;
$blue-3:#57D3E3;
$blue-4:#22b7ca;
$blue-5:#2294c4;
$blue-6:#1C7BA3;
$blue-7:#135571;
$blue-8:#08232e;

// ===== 大小 =====
$navbar-height: 64px;
$mobile-navbar-height: 60px;

// ===== 字重 =====
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

// ===== screen size =====
$mobile_max_width: 767px;
$tablet_max_width: 1279px;
$laptop_max_width: 1439px;
$desktop_min_width: 1440px;
