// ===== 顏色 =====
$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$gray-blue: #EDF7F7;
$white: #FFF;

$red: #9D2235;
$red-light: #F15A60;

$blue: #57D3E3;
$blue-dark: #1C7BA3;

$pink: #FFF1F2;

// ===== 大小 =====
$navbar-height: 64px;

// ===== 字重 =====
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;