// ===== 顏色 =====
$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$gray-blue: #F7FBFB;
$white: #FFF;

$red: #9D2235;
$red-light: #F15A60;
$red-white: #F7DBDF;

$blue: #57D3E3;
$blue-dark: #1C7BA3;

$pink: #FAF5F5;

$purple: #6857E3;
$fuchsia: #F56DE6;
$yellow: #DBEF43;
$green: #57E368;

// ===== 大小 =====
$navbar-height: 64px;
$mobile-navbar-height: 60px;

// ===== 字重 =====
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

// ===== screen size =====
$mobile_max_width: 767px;
$tablet_max_width: 1279px;
$laptop_max_width: 1439px;
$desktop_min_width: 1440px;