@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import './normalize';
@import './variables';
@import './mixins';
@import './utils';
@import './components';
@import './animations';
//@import './font';

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
  margin-right: 4px;
}
::-webkit-scrollbar {
  width: 0!important;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba($color: $gray-3, $alpha: .2);
  &:hover {
    background-color: rgba($color: $gray-3, $alpha: .35);
  }
}
:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-3;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-3;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-3;
}

html.draggable-cursor {
  cursor: grabbing;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
} 

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
textarea {
  resize: vertical;
  overflow-y: auto;
  -webkit-appearance: none;
}

.container {
  margin: 0 auto;
}

@media (min-width: $desktop) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: $desktop) {
  .container {
    max-width: 930px;
  }
}

@media (max-width: $laptop) {
  .container {
    max-width: 680px;
  }
}

@media (max-width: $tablet) {
  .container {
    max-width: 100%;
  }
}
