@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import './normalize';
@import './variables';
@import './mixins';
@import './utils';
@import './components';

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

h3, h4, h5, p {
  margin: 0;
} 

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}

textarea {
  resize: none;
  &::-webkit-scrollbar {
    display: none;
  }
}