@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import './normalize';
@import './variables';
@import './mixins';
@import './utils';
@import './components';
@import './animations';

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
  margin-right: 4px;
}
::-webkit-scrollbar {
  width: 0!important;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba($color: $gray-3, $alpha: .2);
  &:hover {
    background-color: rgba($color: $gray-3, $alpha: .35);
  }
}
:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}

html.draggable-cursor {
  cursor: grabbing;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
} 

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
input {
  -webkit-appearance: none;
}
textarea {
  resize: vertical;
  overflow-y: auto;
  -webkit-appearance: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 639px) {
  .container {
    max-width: 100%;
  }
}
